<h1>Medatus test</h1>

<main>
  <section>
    <h2>Buttons</h2>
    <p>
      <button cst-btn cstColor="basic" cstSize="medium">Button</button>
    </p>

    <p>
      <button cst-btn cstColor="primary" cstSize="medium">Button</button>
    </p>

    <p>
      <button cst-btn cstColor="secondary" cstSize="medium">Button</button>
    </p>

    <p>
      <button cst-btn cstColor="secondary" cstSize="medium" [disabled]="true">
        Button (disabled)
      </button>
    </p>

    <p>
      <button cst-btn cstColor="basic" cstSize="small">Button</button>
    </p>

    <p>
      <button cst-btn cstColor="primary" cstSize="small">Button</button>
    </p>

    <p>
      <button cst-btn cstColor="secondary" cstSize="small">Button</button>
    </p>

    <p>
      <button cst-btn cstColor="secondary" cstSize="small" [disabled]="true">
        Button (disabled)
      </button>
    </p>
  </section>

  <section>
    <h2>Button-groups</h2>

    <cst-button-group cstGroupDirection="horizontal">
      <button cst-btn cstColor="basic" cstSize="small">Button</button>
      <button cst-btn cstColor="primary" cstSize="small">Button</button>
      <button cst-btn cstColor="secondary" cstSize="small">Button</button>
    </cst-button-group>

    <cst-button-group cstGroupDirection="vertical">
      <button cst-btn cstColor="basic" cstSize="small">Button</button>
      <button cst-btn cstColor="primary" cstSize="small">Button</button>
      <button cst-btn cstColor="secondary" cstSize="small">Button</button>
    </cst-button-group>
  </section>
</main>
