<p>
  <button cst-btn cstColor="basic" cstSize="medium">Button</button>
</p>

<p>
  <button cst-btn cstColor="primary" cstSize="medium">Button</button>
</p>

<p>
  <button cst-btn cstColor="secondary" cstSize="medium">Button</button>
</p>

<p>
  <button cst-btn cstColor="secondary" cstSize="medium" [disabled]="true">Button (disabled)</button>
</p>

<p>
  <button cst-btn cstColor="basic" cstSize="small">Button</button>
</p>

<p>
  <button cst-btn cstColor="primary" cstSize="small">Button</button>
</p>

<p>
  <button cst-btn cstColor="secondary" cstSize="small">Button</button>
</p>

<p>
  <button cst-btn cstColor="secondary" cstSize="small" [disabled]="true">Button (disabled)</button>
</p>
